{
  "openapi": "3.1.0",
  "info": {
    "title": "PIX",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.bspay.co/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v2/pix/qrcode": {
      "post": {
        "summary": "Gerar QRCode",
        "description": "",
        "operationId": "create-qrcode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "postbackUrl"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Valor da transação",
                    "format": "float"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "ID externo da transação gerado por você"
                  },
                  "postbackUrl": {
                    "type": "string",
                    "description": "URL de webhook para receber as informações sobre o pagamento."
                  },
                  "payerQuestion": {
                    "type": "string",
                    "description": "Descrição referente a transação"
                  },
                  "payer": {
                    "type": "object",
                    "description": "Este objeto representa o pagador.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome completo do cliente ou nome comercial."
                      },
                      "document": {
                        "type": "string",
                        "description": "O número de identificação fiscal do cliente (CPF para clientes individuais ou CNPJ para clientes empresariais)"
                      },
                      "email": {
                        "type": "string",
                        "description": "E-mail pessoal do cliente ou e-mail comercial"
                      }
                    }
                  },
                  "split": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "username": {
                          "type": "string",
                          "description": "Usuário que irá receber porcentagem referente a transação"
                        },
                        "percentageSplit": {
                          "type": "string",
                          "description": "Porcentagem que o usuário acima receberá"
                        }
                      },
                      "required": [
                        "percentageSplit"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"transactionId\": \"4392d1d7e408d3cec04fm1zf3gv7vkq1\",\n    \"external_id\": \"\",\n    \"status\": \"PENDING\",\n    \"amount\": 15,\n    \"calendar\": {\n        \"expiration\": 3000,\n        \"dueDate\": \"2024-10-07 04:41:05\"\n    },\n    \"debtor\": {\n        \"name\": \"Monkey D. Luffy\",\n        \"document\": \"12924586666\"\n    },\n    \"qrcode\": \"00020126850014br.gov.bcb.pix2563pix.voluti.com.br\\/qr\\/v3\\/at\\/6ed39bf2-bdc2-42b8-a95b-13d2212146b25204000053039865802BR5925BS PAYMENTS SOLUTIONS LTD6008SALVADOR62070503***63048D9B\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string",
                      "example": "4392d1d7e408d3cec04fm1zf3gv7vkq1"
                    },
                    "external_id": {
                      "type": "string",
                      "example": ""
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "amount": {
                      "type": "integer",
                      "example": 15,
                      "default": 0
                    },
                    "calendar": {
                      "type": "object",
                      "properties": {
                        "expiration": {
                          "type": "integer",
                          "example": 3000,
                          "default": 0
                        },
                        "dueDate": {
                          "type": "string",
                          "example": "2024-10-07 04:41:05"
                        }
                      }
                    },
                    "debtor": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Monkey D. Luffy"
                        },
                        "document": {
                          "type": "string",
                          "example": "12924586666"
                        }
                      }
                    },
                    "qrcode": {
                      "type": "string",
                      "example": "00020126850014br.gov.bcb.pix2563pix.voluti.com.br/qr/v3/at/6ed39bf2-bdc2-42b8-a95b-13d2212146b25204000053039865802BR5925BS PAYMENTS SOLUTIONS LTD6008SALVADOR62070503***63048D9B"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"statusCode\": 401,\n    \"message\": \"Erro de autorização\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Erro de autorização"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/pix/payment": {
      "post": {
        "summary": "Fazer um pagamento",
        "description": "",
        "operationId": "fazer-um-pagamento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "creditParty"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Valor da transação",
                    "format": "float"
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição referente a transação"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "ID externo da transação gerado por você"
                  },
                  "creditParty": {
                    "type": "object",
                    "description": "Este objeto representa o destinatário.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome completo do cliente ou nome comercial que pertence a chave."
                      },
                      "keyType": {
                        "type": "string",
                        "description": "Tipo de chave pix relatado no sumário"
                      },
                      "key": {
                        "type": "string",
                        "description": "A chave PIX da conta bancária de destino"
                      },
                      "taxId": {
                        "type": "string",
                        "description": "O número de identificação fiscal do cliente (CPF para clientes individuais ou CNPJ para clientes empresariais)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/consult-transaction": {
      "post": {
        "summary": "Consultar Transação",
        "description": "Utilize essa rota para obter informações detalhadas sobre uma transação específica.",
        "operationId": "consultar-transação",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pix_Id"
                ],
                "properties": {
                  "pix_Id": {
                    "type": "string",
                    "description": "ID da transação que deseja consultar"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"requestBody\": {\n        \"transactionType\": \"RECEIVEPIX\",\n        \"transactionId\": \"c3a516fxb0e52955e065m2pzaga85500\",\n        \"external_id\": \"c3a516f6b5e52955e065m2pzaga85500\",\n        \"amount\": 11,\n        \"paymentType\": \"PIX\",\n        \"payerName\": \"Monkey D. Luffy\",\n        \"creditParty\": {\n            \"userId\": \"482018\",\n            \"email\": \"testeemail@gmail.com\",\n            \"taxId\": \"99999999999\",\n            \"name\": \"Monkey D. Luffy\"\n        },\n        \"authentication\": \"E00416271202410260948VS6oWjqU1w9\",\n        \"status\": \"PAID\",\n        \"dateApproval\": \"2024-10-28 06:48:40\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestBody": {
                      "type": "object",
                      "properties": {
                        "transactionType": {
                          "type": "string",
                          "example": "RECEIVEPIX"
                        },
                        "transactionId": {
                          "type": "string",
                          "example": "c3a516fxb0e52955e065m2pzaga85500"
                        },
                        "external_id": {
                          "type": "string",
                          "example": "c3a516f6b5e52955e065m2pzaga85500"
                        },
                        "amount": {
                          "type": "integer",
                          "example": 11,
                          "default": 0
                        },
                        "paymentType": {
                          "type": "string",
                          "example": "PIX"
                        },
                        "payerName": {
                          "type": "string",
                          "example": "Monkey D. Luffy"
                        },
                        "creditParty": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string",
                              "example": "482018"
                            },
                            "email": {
                              "type": "string",
                              "example": "testeemail@gmail.com"
                            },
                            "taxId": {
                              "type": "string",
                              "example": "99999999999"
                            },
                            "name": {
                              "type": "string",
                              "example": "Monkey D. Luffy"
                            }
                          }
                        },
                        "authentication": {
                          "type": "string",
                          "example": "E00416271202410260948VS6oWjqU1w9"
                        },
                        "status": {
                          "type": "string",
                          "example": "PAID"
                        },
                        "dateApproval": {
                          "type": "string",
                          "example": "2024-10-28 06:48:40"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}